* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

.logo-box {
  position: relative;
  background-image: url(img/romina-veliz-DGKJzOmjyS4-unsplash.jpg);
  height: 100vh;
  width: 70vw;
  background-size: cover;
  background-repeat: no-repeat;
}

span {
  display: block;
  margin-bottom: 40px;
}

.photo-credit {
  left: 17%;
  bottom: 2%;
  position: absolute;
  color: white;
}

.dj-pic {
  /* height: 20rem; */
  background-color: #000;
}

.logo {
  background-image: url(img/logo.png);
  height: 200px;
  width: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 5%;
  left: 5%;
}

input,
button {
  padding: inherit;
  margin: inherit;
}

input {
  /* border: 2px solid black; */
  /* border: none; */
  padding: 20px;
  border: 10px solid gray;
}

button {
  padding: 5px 20px;
}

button:hover {
  background-color: #000;
  color: #fff;
}

input:focus {
  /* border-color: purple; */
  border: 5px solid hotpink;
  box-shadow: 2px 5px 20px 2px rgb(0, 0, 0, 0.1);
}

/* input:active {
  border: none;
} */
/* input:valid {
  border-color: green;
} */
